img{
	max-width: 100%;
  height: auto;
	vertical-align: middle;
}

a{
	text-decoration: none;
}

body {
  font-family: "Squada One", "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  background-color: $light;
  color: #000;
  overflow-x: hidden;
}

.card-body {
  padding: 0;
}