.font-paytone {
  font-family: "Paytone One";
}
.font-notoSans {
  font-family: "Noto Sans TC";
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  vertical-align: middle;
}
.no-fill {
  font-variation-settings: 'FILL' 0;
}

.text-vertical-lr {
  writing-mode: vertical-lr;
}

