.btn-more {
  border: 1px solid #000;
  background: #fff;
  background: transparent;
  color: #000;
  padding: 8px 48px;
  line-height: 19px;
  display: inline-block;
  @extend %triangle-br-primary;

  &:hover {
    background: $primary;
    color: #fff;
    &::after {
      background-color: $black;
    }
  }
}

.btn-more-white {
  border: 1px solid #000;
  color: #000;
  padding: 8px 48px;
  line-height: 19px;
  @extend %triangle-br-primary;
  background: #fff;
}

.btn-hover-check:hover {
  position: relative;
  border: 1px solid $primary !important;

  &::after {
    content: "✔";
    position: absolute;
    right: 8%;
    bottom: 30%;
    color: $primary;
  }
}