// 三角形樣式
// 右下
%triangle-br {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: -0.5px;
    right: -0.5px;
    clip-path: $triangle-br;
  }
}
// 左上
%triangle-tl {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0px;
    left: 0px;
    clip-path: $triangle-tl;
  }
}
// 右上
%triangle-tr {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0px;
    right: 0px;
    clip-path: $triangle-tr;
  }
}

%triangle-br-primary {
  @extend %triangle-br;
  &::after {
    background-color: $primary;
  }
}

.triangle-br-primary {
  position: relative;
  @extend %triangle-br-primary;
}

.triangle-br-plus {
  @extend %triangle-br;
  &::after {
    content: "+";
    width: 32px;
    height: 32px;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 17px;
    color: #fff;
    background-color: #000;
  }

  @include respond-min(md) {
    &::after {
      display: none;
    }
  }
}

.triangle-br-minus {
  @extend %triangle-br;
  &::after {
    content: "-";
    width: 32px;
    height: 32px;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 17px;
    color: #fff;
    background-color: $primary;
  }

  @include respond-min(md) {
    &::after {
      display: none;
    }
  }
}
// 黑色三角形
.triangle-br-black {
  @extend %triangle-br;
  &::after {
    background-color: #000;
  }
}
.triangle-tl-black {
  @extend %triangle-tl;
  &::before {
    background-color: #000;
  }
}
.triangle-tr-black {
  @extend %triangle-tr;
  &::after {
    background-color: #000;
  }
}
