---
title: 探索 | ART NFT
layout: ./app/layout.ejs
engine: ejs
current: explore
---

<section class="container masonry mt-4 mb-6 mt-md-6 mb-md-11">
  <div class="row masonry-row" data-masonry='{"percentPosition": true }'>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art09.jpg" alt="區塊戀-他的私生活" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">區塊戀-他的私生活</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">區塊戀-他的私生活</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art10.jpg" alt="夏娃的醜聞" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">夏娃的醜聞</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">夏娃的醜聞</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art03.jpg" alt="十分鐘就到" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">十分鐘就到</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">十分鐘就到</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art11.jpg" alt="沒有人愛我" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">沒有人愛我</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">沒有人愛我

        </p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art12.jpg" alt="不哭不哭眼淚是珍珠" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">不哭不哭眼淚是珍珠</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">不哭不哭眼淚是珍珠</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art02.jpg" alt="藍色啤酒海" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">藍色啤酒海</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">藍色啤酒海</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art04.jpg" alt="我這樣有美嗎" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">我這樣有美嗎</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">我這樣有美嗎</p>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art27.jpg" alt="我真的受傷了" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">我真的受傷了</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">我真的受傷了</p>
      </div>
    </div>

    
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art19.jpg" alt="野小孩——叫你不要玩那個" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">野小孩——叫你不要玩那個</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">野小孩——叫你不要玩那個</p>
      </div>
    </div>
    
    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art16.jpg" alt="柔美的細胞小將" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">柔美的細胞小將</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">柔美的細胞小將</p>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art15.jpg" alt="心如止水——今天吃素" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">心如止水——今天吃素</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">心如止水——今天吃素</p>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
      <div class="card border-0 bg-light">
        <div class="p-2 p-md-4 bg-white">
          <div class="masonry__item position-relative">
            <img src="./assets/images/art06.jpg" alt="每當夏天我吹著溫暖的風" class="img-fluid card-img-top masonry__img">
            <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
            <!-- hover -->
            <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-3 m-3">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="mb-2">每當夏天我吹著溫暖的風</p>
                  <span class="d-flex align-items-center">
                    <i class="fa-brands fa-ethereum me-2"></i>
                    300
                  </span>
                </div>
                <div class="text-end">
                  <a href="#!" class="btn-more">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">每當夏天我吹著溫暖的風</p>
      </div>
    </div>

  </div>
</section>