---
title: NTF 藝術家交易平台
layout: ./app/layout.ejs
engine: ejs
current: index
---
<!-- 推 薦 系 列 -->
<section class="recommend mb-6 mb-lg-11 mt-md-6">
  <div class="container">
    <ul class="row g-0">
      <!-- 推薦 1 -->
      <li class="col-12">
        <div class="card">
          <div class="row g-0">
            <div class="col-lg-1 d-none d-lg-block">
              <div class="d-flex flex-column align-items-center bg-black text-white h-100">
                <h2 class="fs-1 text-vertical-lr mt-4 mb-3">Recommend</h2>
                <span class="fs-4 text-vertical-lr">推薦系列</span>
              </div>
            </div>
            <div class="col-lg-7">
              <img src="./assets/images/art01.jpg" class="" alt="Art01">
            </div>
            <div class="col-lg-4 d-flex flex-column py-5 px-3 pt-lg-11 pb-lg-4 px-xl-4">
              <div class="card-body">
                <h5 class="card-subTitle mb-2">Kemus Wu</h5>
                <!-- md字體會覆蓋 -->
                <h3 class="card-title fs-3 fs-md-2 fs-xxl-1 fw-bold mb-4">瞳孔:流動的脈絡</h3>
                <p class="card-text mb-4">眼睛，總是吸引著我們的注意力，看、被看，也許眼睛裡有著從另一個世界看我們的世界。</p>
              </div>
              <div class="text-end">
                <a href="artworks.html" class="btn-more">MORE</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- 推薦 2 -->
      <li class="col-lg-6">
        <div class="card">
          <div class="row flex-lg-row-reverse g-0">
            <div class="col-md-6">
              <img src="./assets/images/art02.jpg" class="card-img h-100 img-cover" alt="Art02">
            </div>
            <div class="col-md-6 d-flex flex-column px-3 pb-4 pt-5 pt-lg-7 px-xl-4">
              <div class="card-body">
                <h5 class="card-subTitle mb-2">Joanne</h5>
                <h3 class="card-title fw-bold fs-md-2 mb-4">海洋波度</h3>
                <p class="card-text text-overflow-4 mb-4">海洋的奧秘向我們揭示了深不可測的一面，它的深度——反映了我們的恐懼、同時也吸引著我們。</p>
              </div>
              <div class="text-end">
                <a href="artworks.html" class="btn-more">MORE</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- 推薦 3 -->
      <li class="col-lg-6">
        <div class="card">
          <div class="row flex-row-reverse g-0">
            <div class="col-md-6">
              <img src="./assets/images/art21.jpg" class="card-img h-100 img-cover" alt="Art21">
            </div>
            <div class="col-md-6 d-flex flex-column px-3 pb-4 pt-5 pt-lg-7 px-xl-4">
              <div class="card-body">
                <h5 class="card-subTitle mb-2">Michael</h5>
                <h3 class="card-title fw-bold fs-md-2 mb-4">我家窗前的鳥</h3>
                <p class="card-text text-overflow-4 mb-4">家門前每天都有不同的小鳥，大多數的小鳥都有特殊能力，特殊能力是什麼我就不說了，希望大家能從作品感受到小鳥的快樂。</p>
              </div>
              <div class="text-end">
                <a href="artworks.html" class="btn-more">MORE</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
  
</section>
<!-- 市價排行榜 -->
<section class="ranking mb-6 mb-lg-11">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center border-bottom mb-4 position-relative">
      <h2 class="fs-1 mb-2 mb-md-3">Ranking
        <span class="fw-bold fs-4 vertical-bottom d-none d-md-inline-block ms-3">市價排行榜</span>
      </h2>
      <a href="marketRanking.html" class="btn-more border-0 hover-border position-absolute bottom-0 end-0">more</a>
    </div>

    <div class="container">
      <ul class="row">
        <!-- 1 -->
        <li class="col-md-6 col-lg-4">
          <div class="card mb-3 mb-md-4">
            <div class="d-flex d-lg-block position-relative">
              <div class="px-2 py-4 d-flex align-items-center justify-content-center ranking__order">
                <p class="font-paytone fs-3">1</p>
              </div>
              <!-- ranking 圖片 -->
              <!-- 手機 hover -->
              <a href="artworks-detail.html" class="h-auto hover-bg-more d-lg-none">
                <div class="ranking__img ranking__img--1"></div>
              </a>
              <!-- PC hover -->
              <div class="ranking__img ranking__img--1 ranking__img--top  position-relative d-none d-lg-block">
                <a href="artworks-detail.html" class="mask-dark d-none position-absolute top-0 start-0 bottom-0 end-0">
                  <button class="btn-more position-absolute bottom-0 end-0">more</button>
                </a>
              </div>

              <div class="flex-fill">
                <div class="card-body">
                  <h5 class="fw-bold py-3 px-2 p-lg-3 border-bottom">散步遇到的女人</h5>
                  <div class="d-flex justify-content-between align-items-center p-2 px-lg-3">
                    <p class="">Zoe Jiang</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- 2 -->
        <li class="col-md-6 col-lg-4">
          <div class="card mb-3 mb-md-4">
            <div class="d-flex d-lg-block position-relative">
              <div class="px-2 py-4 d-flex align-items-center justify-content-center ranking__order">
                <p class="font-paytone fs-3">2</p>
              </div>
              <!-- ranking 圖片 -->
              <!-- 手機 hover -->
              <a href="artworks-detail.html" class="h-auto hover-bg-more d-lg-none">
                <div class="ranking__img ranking__img--2"></div>
              </a>
              <!-- PC hover -->
              <div class="ranking__img ranking__img--2 ranking__img--top  position-relative d-none d-lg-block">
                <a href="artworks-detail.html" class="mask-dark d-none position-absolute top-0 start-0 bottom-0 end-0">
                  <button class="btn-more position-absolute bottom-0 end-0">more</button>
                </a>
              </div>

              <div class="flex-fill">
                <div class="card-body">
                  <h5 class="fw-bold py-3 px-2 p-lg-3 border-bottom">爆炸頭的母親</h5>
                  <div class="d-flex justify-content-between align-items-center p-2 px-lg-3">
                    <p class="">Yui</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- 3 -->
        <li class="col-md-6 col-lg-4">
          <div class="card mb-3 mb-md-4">
            <div class="d-flex d-lg-block position-relative">
              <div class="px-2 py-4 d-flex align-items-center justify-content-center ranking__order">
                <p class="font-paytone fs-3">3</p>
              </div>
              <!-- ranking 圖片 -->
              <!-- 手機 hover -->
              <a href="artworks-detail.html" class="h-auto hover-bg-more d-lg-none">
                <div class="ranking__img ranking__img--3"></div>
              </a>
              <!-- PC hover -->
              <div class="ranking__img ranking__img--3 ranking__img--top  position-relative d-none d-lg-block">
                <a href="artworks-detail.html" class="mask-dark d-none position-absolute top-0 start-0 bottom-0 end-0">
                  <button class="btn-more position-absolute bottom-0 end-0">more</button>
                </a>
              </div>

              <div class="flex-fill">
                <div class="card-body">
                  <h5 class="fw-bold py-3 px-2 p-lg-3 border-bottom">夏天的時候</h5>
                  <div class="d-flex justify-content-between align-items-center p-2 px-lg-3">
                    <p class="">Bug Lin</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- 4 -->
        <li class="col-md-6 col-lg-4">
          <div class="card mb-3 mb-lg-0">
            <div class="d-flex">
              <div class="px-2 py-4">
                <p class="font-paytone fs-3">4</p>
              </div>
              <!-- ranking 圖片 -->
              <a href="artworks-detail.html" class="h-auto hover-bg-more">
                <div class="ranking__img ranking__img--4"></div>
              </a>
              <div class="flex-fill">
                <div class="card-body">
                  <h5 class="fw-bold py-3 px-2 p-lg-3 border-bottom">追求者送我的花</h5>
                  <div class="d-flex justify-content-between align-items-center p-2 px-lg-3">
                    <p class="">Michael</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- 5 -->
        <li class="col-md-6 col-lg-4">
          <div class="card mb-3 mb-md-0">
            <div class="d-flex">
              <div class="px-2 py-4">
                <p class="font-paytone fs-3">5</p>
              </div>
              <!-- ranking 圖片 -->
              <a href="artworks-detail.html" class="h-auto hover-bg-more">
                <div class="ranking__img ranking__img--5"></div>
              </a>
              <div class="flex-fill">
                <div class="card-body">
                  <h5 class="fw-bold py-3 px-2 p-lg-3 border-bottom">今天釣到的魚</h5>
                  <div class="d-flex justify-content-between align-items-center p-2 px-lg-3">
                    <p class="">Wei JJ</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- 6 -->
        <li class="col-md-6 col-lg-4">
          <div class="card">
            <div class="d-flex">
              <div class="px-2 py-4">
                <p class="font-paytone fs-3">6</p>
              </div>
              <!-- ranking 圖片 -->
              <a href="artworks-detail.html" class="h-auto hover-bg-more ">
                <div class="ranking__img ranking__img--6"></div>
              </a>
              <div class="flex-fill">
                <div class="card-body">
                  <h5 class="fw-bold py-3 px-2 p-lg-3 border-bottom">人生中的貓咪們</h5>
                  <div class="d-flex justify-content-between align-items-center p-2 px-lg-3">
                    <p class="">Even Lai</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- 熱門藝術家 -->
<section class="artist mb-6 mb-lg-11">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center border-bottom position-relative">
      <h2 class="fs-1 mb-2 mb-md-3">Artist
        <span class="fw-bold fs-4 vertical-bottom d-none d-md-inline-block ms-3">熱門藝術家</span>
      </h2>
      <a href="artist.html" class="btn-more border-0 hover-border position-absolute bottom-0 end-0">more</a>
    </div>
    <!-- Swipper -->
    <div class="swiper swiperArtist">
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <div>
            <div class="position-relative text-start">
              <img src="./assets/images/artist01.jpg" alt="Artist01" class="mb-3">
              <div class="swiper-content">
                <h3 class="fs-2 lh-1 fs-xl-10 w-lg-50 text-white text-start position-absolute top-5 start-5">Michael</h3>
                <a href="artist.html" class="btn-more-white link-black bg-white position-absolute bottom-2 end-2 fs-5">more</a>
                <p class="d-none d-lg-block bg-white fs-7 opacity-80 w-50 position-absolute start-2 bottom-2 p-3">​喜愛大自然，創作題材常見大山、大水、花草與樹木。</p>
              </div>
            </div>
            <p class="bg-white p-4 d-lg-none">​喜愛大自然，創作題材常見大山、大水、花草與樹木。</p>
          </div>
        </li>

        <li class="swiper-slide">
          <div>
            <div class="position-relative text-start">
              <img src="./assets/images/artist02.jpg" alt="Artist02" class="mb-3">
                <div class="swiper-content">
                  <h3 class="fs-2 lh-1 fs-xl-10 w-lg-50 text-white text-start position-absolute top-5 start-5">Antony Wu</h3>
                  <a href="artist.html" class="btn-more-white  link-black bg-white position-absolute bottom-2 end-2 fs-5">more</a>
                  <p class="d-none d-lg-block bg-white fs-7 opacity-80 w-50 position-absolute start-2 bottom-2 p-3">​喜愛大自然，創作題材常見大山、大水、花草與樹木。</p>
                </div>
            </div>
            <p class="bg-white p-4 d-lg-none">​喜愛大自然，創作題材常見大山、大水、花草與樹木。</p>
          </div>
        </li>
        
        <li class="swiper-slide">
          <div>
            <div class="position-relative text-start">
              <img src="./assets/images/artist03.jpg" alt="Artist03" class="mb-3">
              <div class="swiper-content">
                <h3 class="fs-2 lh-1 fs-xl-10 w-lg-50 text-white text-start position-absolute top-5 start-5">Antony WOW</h3>
                <a href="artist.html" class="btn-more-white link-black bg-white position-absolute bottom-2 end-2 fs-5">more</a>
                <p class="d-none d-lg-block bg-white fs-7 opacity-80 w-50 position-absolute start-2 bottom-2 p-3">​喜愛大自然，創作題材常見大山、大水、花草與樹木。</p>
              </div>
            </div>
            <p class="bg-white p-4 d-lg-none">​喜愛大自然，創作題材常見大山、大水、花草與樹木。</p>
          </div>
        </li>

        <li class="swiper-slide">
          <div>
            <div class="position-relative text-start">
              <img src="./assets/images/artist04.jpg" alt="Artist04" class="mb-3">
              <div class="swiper-content">
                <h3 class="fs-2 lh-1 fs-xl-10 w-lg-50 text-white text-start position-absolute top-5 start-5">Patrim</h3>
                <a href="artist.html" class="btn-more-white link-black bg-white position-absolute bottom-2 end-2 fs-5">more</a>
                <p class="d-none d-lg-block bg-white fs-7 opacity-80 w-50 position-absolute start-2 bottom-2 p-3">​喜愛大自然，創作題材常見大山、大水、花草與樹木。</p>
              </div>
            </div>
            <p class="bg-white p-4 d-lg-none">​喜愛大自然，創作題材常見大山、大水、花草與樹木。</p>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>

    </div>
  </div>
</section>
<!-- 最新藝術品 -->
<section class="artwork mb-6 mb-lg-11">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center border-bottom  mb-4 position-relative">
      <h2 class="fs-1 mb-2 mb-md-3">Artwork
        <span class="fw-bold fs-4 vertical-bottom d-none d-md-inline-block ms-3">最新藝術品</span>
      </h2>
      <a href="explore.html" class="btn-more border-0 hover-border position-absolute bottom-0 end-0">more</a>
    </div>
    <!-- 最新藝術品 - masonry -->
    <ul class="row masonry" data-masonry='{"percentPosition": true }'>
      <li class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
        <div class="card border-0 bg-light">
          <div class="p-2 p-md-3 p-lg-4 bg-white">
            <div class="masonry__item position-relative">
              <img src="./assets/images/art09.jpg" alt="區塊戀-他的私生活" class="img-fluid card-img-top masonry__img">
              <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
                <!-- hover -->
              <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-2 m-2">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <p class="mb-1">區塊戀-他的私生活</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                  <div class="text-center">
                    <a href="artworks-detail.html" class="btn-more">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="fs-7 fs-md-6 p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">區塊戀-他的私生活</h3>
        </div>
      </li>

      <li class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
        <div class="card border-0 bg-light">
          <div class="p-2 p-md-3 p-lg-4 bg-white">
            <div class="masonry__item position-relative">
              <img src="./assets/images/art10.jpg" alt="夏娃的醜聞" class="img-fluid card-img-top masonry__img">
              <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
                <!-- hover -->
              <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-2 m-2">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <p class="mb-1">夏娃的醜聞</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                  <div class="text-end">
                    <a href="artworks-detail.html" class="btn-more">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="fs-7 fs-md-6 p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">夏娃的醜聞</h3>
        </div>
      </li>

      <li class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
        <div class="card border-0 bg-light">
          <div class="p-2 p-md-3 p-lg-4 bg-white">
            <div class="masonry__item position-relative">
              <img src="./assets/images/art03.jpg" alt="十分鐘就到" class="img-fluid card-img-top masonry__img">
              <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
                <!-- hover -->
              <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-2 m-2">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <p class="mb-1">十分鐘就到</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                  <div class="text-end">
                    <a href="artworks-detail.html" class="btn-more">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="fs-7 fs-md-6 p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">十分鐘就到</h3>
        </div>
      </li>

      <li class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
        <div class="card border-0 bg-light">
          <div class="p-2 p-md-3 p-lg-4 bg-white">
            <div class="masonry__item position-relative">
              <img src="./assets/images/art11.jpg" alt="沒有人愛我" class="img-fluid card-img-top masonry__img">
              <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
              <!-- hover -->
              <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-2 m-2">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <p class="mb-1">沒有人愛我</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                  <div class="text-end">
                    <a href="artworks-detail.html" class="btn-more">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="fs-7 fs-md-6 p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">沒有人h3我

          </p>
        </div>
      </li>

      <li class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
        <div class="card border-0 bg-light">
          <div class="p-2 p-md-3 p-lg-4 bg-white">
            <div class="masonry__item position-relative">
              <img src="./assets/images/art12.jpg" alt="不哭不哭眼淚是珍珠" class="img-fluid card-img-top masonry__img">
              <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
              <!-- hover -->
              <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-2 m-2">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <p class="mb-1">不哭不哭眼淚是珍珠</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                  <div class="text-end">
                    <a href="artworks-detail.html" class="btn-more">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="fs-7 fs-md-6 p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">不哭不哭眼淚是珍珠</h3>
        </div>
      </li>

      <li class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
        <div class="card border-0 bg-light">
          <div class="p-2 p-md-3 p-lg-4 bg-white">
            <div class="masonry__item position-relative">
              <img src="./assets/images/art02.jpg" alt="藍色啤酒海" class="img-fluid card-img-top masonry__img">
              <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
              <!-- hover -->
              <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-2 m-2">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <p class="mb-1">藍色啤酒海</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                  <div class="text-end">
                    <a href="artworks-detail.html" class="btn-more">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="fs-7 fs-md-6 p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">藍色啤酒海</h3>
        </div>
      </li>

      <li class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
        <div class="card border-0 bg-light">
          <div class="p-2 p-md-3 p-lg-4 bg-white">
            <div class="masonry__item position-relative">
              <img src="./assets/images/art04.jpg" alt="我這樣有美嗎" class="img-fluid card-img-top masonry__img">
              <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
              <!-- hover -->
              <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-2 m-2">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <p class="mb-1">我這樣有美嗎</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                  <div class="text-end">
                    <a href="artworks-detail.html" class="btn-more">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="fs-7 fs-md-6 p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">我這樣有美嗎</h3>
        </div>
      </li>

      <li class="col-6 col-md-4 col-lg-3 mb-3 mb-md-7">
        <div class="card border-0 bg-light">
          <div class="p-2 p-md-3 p-lg-4 bg-white">
            <div class="masonry__item position-relative">
              <img src="./assets/images/art27.jpg" alt="我真的受傷了" class="img-fluid card-img-top masonry__img">
              <a href="artworks-detail.html" class="d-block position-absolute top-0 h-100 w-100"></a>
              <!-- hover -->
              <div class="masonry__detail d-none position-absolute top-0 start-0 bottom-0 end-0 text-white p-2 m-2">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <p class="mb-1">我真的受傷了</p>
                    <span class="d-flex align-items-center">
                      <i class="fa-brands fa-ethereum me-2"></i>
                      300
                    </span>
                  </div>
                  <div class="text-end">
                    <a href="artworks-detail.html" class="btn-more">more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="fs-7 fs-md-6 p-2 p-md-0 py-md-3 fw-bold border-bottom-md ">我真的受傷了</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Join Us -->
<section class="joinUs">
  <div class="text-center border-bottom border-4 mb-2 pb-4 pb-lg-6">
    <h2 class="fs-2 fs-lg-1 fw-bold mb-3 lh-1">Join Us<br>
      <span class="fs-4">創建並出售你的藝術品</span>
    </h2>
  </div>

  <div class="border-top">
    <div class="container">
      <ul class="row py-7 py-lg-11">
        <li class="col-md-6 col-lg-3">
          <div class="card bg-light border-0 text-center mb-7 mb-lg-0">
            <i class="fa-solid fa-wallet fs-1 text-primary mb-3"></i>
            <h5 class="fw-bold mb-4">設置你的錢包</h5>
            <p>設置好您選擇的錢包後<br>點擊右上角的錢包圖標進行連接</p>
          </div>
        </li>

        <li class="col-md-6 col-lg-3">
          <div class="card bg-light border-0 text-center mb-7 mb-lg-0">
            <i class="fa-solid fa-pen-ruler fs-1 text-primary mb-3"></i>
            <h5 class="fw-bold mb-4">創建您的主頁</h5>
            <p>註冊成為會員，編輯您的資料<br>讓大家了解你</p>
          </div>
        </li>

        <li class="col-md-6 col-lg-3">
          <div class="card bg-light border-0 text-center mb-7 mb-lg-0">
            <i class="fa-solid fa-icons fs-1 text-primary mb-3"></i>
            <h5 class="fw-bold mb-4">添加你的 NFT</h5>
            <p>上傳你的作品<br>添加標題和描述</p>
          </div>
        </li>

        <li class="col-md-6 col-lg-3">
          <div class="card bg-light border-0 text-center mb-7 mb-lg-0">
            <i class="fa-solid fa-tags fs-1 text-primary mb-3"></i>
            <h5 class="fw-bold mb-4">列出它們出售</h5>
            <p>選擇出售 NFT 的方式<br>並設定價格，等待有緣人</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>